# Resultados pesados (no versionar)
results/*
!results/README.md

# Outputs típicos / logs
*.out
*.log
*.tmp

# FHI-aims
aims.out*
restart*
charge_density*
KS_eigenvalues*
*.cube
*.dat

# Sistemas
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Julia
*.ji
Manifest.toml.backup
